{% extends 'base.html.twig' %} {% block title %}Mon panier{% endblock %} {% block body %}

<table class="table">
    <thead>
        <tr>
            <th>Produit</th>
            <th>Prix unitaire</th>
            <th>Quantité</th>
            <th>Prix total</th>
        </tr>
    </thead>
    <tbody>
        {% for entree in panier %}
        <tr>
            <td>{{ entree.produit.nom }}</td>
            <td>{{ entree.produit.prix }}&nbsp;€</td>
            <td>{{ entree.quantite }}</td>
            <td>{{ entree.quantite * entree.produit.prix }}&nbsp;€</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<dl class="row">
    <div class="col-4">
        <dt>Total</dt>
        <dd>{{total}}&nbsp;€</dd>
    </div>

    <div class="col-4">
        <dt>Dont TVA</dt>
        <dd>{{tva}}&nbsp;€</dd>
    </div>

    <a href="{{ path('payment') }}" class="btn btn-primary col-2 offset-col-1 justify-content-center align-items-center">
        <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Payer
    </a>
</dl>

{% endblock %}